{% extends "layouts/boilerplate.html" %}

{% block body %}
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default login">
            <div class="panel-body">
                <h1 class="page-header">Login</h1>
                <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" data-vars='{{ login_user_form.data|tojson }}' data-errors='{{ login_user_form.errors|tojson }}' >
                    {{ login_user_form.hidden_tag() }}

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" value="true"> Remember Me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
